<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit blog</title>
</head>
<body>
    <div>
        <form action="/products/<%=product._id%>?_method=PATCH" method="POST">
            
            <label for="">Price: </label>
            <input type="number" name="price" value="<%=product.price%>"><br><br>
           
            <textarea name="desc" id="" cols="30" rows="5"><%=product.desc%></textarea ><br><br>
            <button>save</button>
        </form>
    </div>
</body>
</html>