<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add block</title>
</head>
<body>
    <div>
        <form action="/products" method="POST">
            <label >Name: </label>
            <input type="text" name="name" placeholder="products name"><br>
            <br>
            <label for="">Price: </label>
            <input type="number" name="price" placeholder="price"><br><br>
           
            <textarea name="desc" id="" cols="30" rows="5"></textarea><br><br>
            <button>save</button>
        </form>
    </div>
</body>
</html>